<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
<html>
<style>
  body {
    font-family:"Open Sans";
    color: blue;
  }
  .text{
    color: green;
  }
  </style>
<head>
  <title>Prototype Website</title>
  </head>
  <body>
    <h1>Prototype <span class="text">Website</span></h1>
      <p>By tonight I'll have a fully-functioning website!</p>
  </body>
</html>